@page
@{
}
 
<div class = "row mt-5">
<div class="text-center col-6">
<form action="">
  <label for="origen" class="form-label">Origen:</label>
  <input type="text" class="form-control" id="id_origen" name="id_origen" placeholder="Datos Origen">
  <label for="destino" class="form-label">Destino:</label>
  <input type="text" class="form-control" id="id_destino" name="id_destino" placeholder="Datos Destino">
  <label for="fecha" class="form-label">Fecha:</label>
  <input type="Date" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
  <label for="hora" class="form-label">Hora:</label>
  <input type="time" class="form-control" id="hora" name="hora" placeholder="Hora">
  <label for="encomienda" class="form-label">Encomienda:</label>
  <input type="text" class="form-control" id="id_encomienda" name="id_encomienda" placeholder="Datos Encomienda">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
</div>