@page
@{
}

<table class="table-bordered border-primary col-6">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">id_Origen</th> 
      <th scope="col">id_Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">id_Encomienda</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>2</td>
      <td>23\06\2021</td>
      <td>12:48</td>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3</td>
      <td>1</td>
      <td>27\06\2021</td>
      <td>23:48</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>4</td>
      <td>2</td>
      <td>01\08\2021</td>
      <td>07:23</td>
      <td>1</td>
    </tr>
  </tbody>
</table>