@page
@{
}

<div class = "row mt-5">
<div class="text-center col-6">
<form action="">
  <div class="form-floating mb-3">
  <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion Encomienda">
    <label for="floatingInput">Descripcion Encomienda</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="peso" name= "peso" placeholder="Peso Encomienda">
    <label for="floatingInput">Peso Encomienda</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="tipo" placeholder="Tipo Encomienda">
    <label for="floatingInput">Tipo Encomienda</label>
  </div>  
  <div class="form-floating">
    <textarea class="form-control" placeholder="Presentacion" id="presentacion" name= "presentacion"></textarea>
    <label for="floatingTextarea">Presentacion</label>
  </div>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
</div>
