@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel
@{

}

<div class = "row mt-5">
<div class="text-center col-6">
<form method="post">
  
  <label for="descripcion" class="form-label">Descripcion:</label>
  <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" asp-for="Encomienda.descripcion">

  <label for="peso" class="form-label">Peso:</label>
  <input type="number" class="form-control" id="peso" placeholder="Peso" asp-for="Encomienda.peso">

  <label for="tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" placeholder="Tipo" asp-for="Encomienda.tipo">

  <label for="presentacion" class="form-label">Presentacion:</label>
  <input type="text" class="form-control" id="presentacion" placeholder="Presentacion" asp-for="Encomienda.presentacion">
  
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
<div class="col-4">
  <h5><p>Crear Usuario</p></h5>
</div>
</div>
