@page
@{
}

<table class="table-bordered border-primary col-6">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Descripcion</th> 
      <th scope="col">Peso</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentacion</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Tablet Samsung 10"</td>
      <td>Tecnologia</td>
      <td>2 Kilos</td>
      <td>Caja 14cm x 20 cm</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Televisor LG 65" 4K</td>
      <td>Tecnologia</td>
      <td>15 Kilos</td>
      <td>Caja de 2mts x 25cm</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Carro a control remoto amarillo</td>
      <td>Jugueteria</td>
      <td>3 Kilos</td>
      <td>Caja 50cm x 30cm</td>
    </tr>
  </tbody>
</table>