@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img style="height: 300px;" src="https://www.liderempresarial.com/wp-content/uploads/2021/08/118559321_hi063112836.jpg">
</div>
